@charset "UTF-8";

.bg-text {
    background-color: unset;
    padding: 31px 60px 23px 230px;
}
.current-about a{
    border-bottom: unset;
    opacity: 0.5;
}
.items-flex {
    margin-bottom: 320px;
}
footer .current-about a{
    border-bottom: unset;
    opacity: 0.5;
}
.current-news a{
    border-bottom: 2px solid #3E3E3E;
    opacity: 1;
}
footer .current-news a{
    border-bottom: unset;
    opacity: 1;
}
#home {
    background-image: url(../images/AdobeStock_295587079@2x.png);
    min-height: 100vh;
}

@media (max-width: 600px) {
    .bg-text {
        text-align: center;
        padding: 0;
    }
}